/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Estilo general */
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
  }
  
  /* Header */
  header {
    background-color: #ffffff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header .logo {
    font-size: 24px;
    color: rgb(0, 0, 0);
    font-weight: bold;
  }
  
  header nav ul {
    list-style-type: none;
    display: flex;
  }
  
  header nav ul li {
    margin-left: 20px;
  }
  
  header nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
  }
  
  header nav ul li a:hover,
  header nav ul li a.active {
    text-decoration: underline;
  }
  header nav ul li a:hover {
    color: #3361df;
  }
  
  /* Sección Principal */
  main {
    padding: 20px;
  }
  
  .welcome-message {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .welcome-message h1 {
    font-size: 32px;
    color: #333;
  }
  
  .welcome-message p {
    font-size: 18px;
    color: #666;
  }
  
  .posts {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  /* Estilo de las publicaciones */
  .post {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .post-header {
    display: flex;
    gap: 15px;
  }
  
  .user-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .post-header h3 {
    font-size: 18px;
    color: #333;
  }
  
  .post-header p {
    font-size: 14px;
    color: #666;
  }
  
  .post-content p {
    font-size: 16px;
    color: #333;
    margin: 10px 0;
  }
  
  .post-actions {
    display: flex;
    gap: 10px;
  }
  
  button {
    padding: 10px;
    background-color: #3897f0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #007bff;
  }
  
  /* Footer */
  footer {
    text-align: center;
    margin-top: 30px;
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #ddd;
    font-size: 14px;
    color: #555;
  }
  